.img-show {
    max-width: 100%;
    height: auto;
    text-align: center;
    user-select: none;
}

.img-show img {
    max-width: 100%;
    height: auto;
    max-height: 850px;
}

.btn-show {
    margin: 30px 0;
}

.text h2 {
    color: rgb(255, 255, 255);
}

.p1 {
    font-style: italic;
    color: rgb(165, 165, 165);
}

.p2 {
    color: rgb(145, 144, 144);
}


@media (max-width: 500px) {
    #labelA {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .text {
        padding: 7px;
    }
}

/* @media(max-width:991px) {
    .img-show img {
        max-width: 100%;
        height: auto;
    }
} */

#tarjet_options {
    position: fixed;
    top: 20%;
    left: 30px;
    border: 0.1rem solid white;
    border-radius: 15px;
    user-select: none;
    
}

#option-container {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 600px;
    text-align: center;
    padding: 15px;
    row-gap: 10px;
    align-items: center;

}

.icon-tarjet {
    width: 30px;
}

.option2 {
    position: absolute;
    bottom: 15px;
}

.save-tarjet-S {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: end;
    
}

@media (max-width: 750px) {
    #tarjet_options {
        position: fixed;
        height: 50px;
        left: 5px;
        width: 98%;
        bottom: 5%;
        top: 93%;
        background-color: black;
    }
    #option-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        text-align: center;
        padding: 10px;
        gap: 5px;
        align-items: center;
        justify-content: space-around;
    
    }
    .icon-tarjet {
        width: 25px;
    }

    .option2 {
        position: inherit;
    }
}